<div class="add_head">
  <span>Add Shop</span>
  <button mat-mini-fab color="#3B4259" id="close_btn" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>

<div mat-dialog-content>
  <div class="example-container">
    <mat-form-field appearance="fill">
      <mat-label>Shop Name</mat-label>
      <input matInput placeholder="Shop Name" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>

  <div class="example-container">
    <mat-form-field appearance="fill">
      <mat-label>Owner Name</mat-label>
      <input matInput placeholder="Owner Name" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>

  <mat-form-field appearance="fill">
    <mat-label>Whatsapp Number</mat-label>
    <input matInput type="number" onkeypress="return this.value.length < 10;"
      oninput="if(this.value.length>=10) { this.value = this.value.slice(0,10); }">
  </mat-form-field>


  <div class="example-container">
    <mat-form-field appearance="fill">
      <mat-label>Email Id</mat-label>
      <input matInput placeholder="Email Id">
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>

  <mat-form-field appearance="fill">
    <mat-label>Distric</mat-label>
    <mat-select>
      <mat-option value="one">Vaishali</mat-option>
      <mat-option value="two">Chapra</mat-option>
      <mat-option value="three">Sonepur</mat-option>
      <mat-option value="four">Darbhanga</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>State</mat-label>
    <mat-select>
      <mat-option value="one">Jharkhand</mat-option>
      <mat-option value="two">Mumbai</mat-option>
      <mat-option value="three">Bihar</mat-option>
      <mat-option value="four">Tamilnadu</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="example-container">
    <mat-form-field appearance="fill">
      <mat-label>Address</mat-label>
      <input matInput placeholder="Address" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>

  <mat-form-field appearance="fill">
    <mat-label>Shop Category</mat-label>
    <mat-select>
      <mat-option value="one">Grocerry</mat-option>
      <mat-option value="two">Ashu Electronics</mat-option>
      <mat-option value="three">Om Computer</mat-option>
      <mat-option value="four">Ajad Mobile</mat-option>
    </mat-select>
  </mat-form-field>

  <div id="upload">
    <h6>Upload Img</h6>
    <input type="file">
  </div>


    <mat-form-field class="add_form" appearance="fill">
      <mat-label>Description</mat-label>
      <textarea formControlName="Description" matInput placeholder="Description"></textarea>
    </mat-form-field>
  </div>

<span class="btn_box">
  <button class="reset_btn" mat-raised-button color="warn" type="reset">Reset</button>
  <button class="save_btn" mat-raised-button color="primary" type="save">Save</button>
</span>