
<div class="add_head">
  <span>Add Shop</span>
  <button mat-mini-fab color="#3B4259" id="close_btn" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>

<form [formGroup]="Shop_Form">
<div mat-dialog-content>
    <div class="example-container">
      <mat-form-field appearance="fill">
        <mat-label> Shop Name</mat-label>
       <input formControlName="Shop_Name" matInput placeholder=" Shop Name">
      </mat-form-field>
    </div>
    
    <div class="example-container">
      <mat-form-field appearance="fill">
        <mat-label>Owner Name</mat-label>
        <input formControlName="Owner_name" matInput placeholder="Owner Name">
      </mat-form-field>
    </div>

      
    <div class="example-container">
      <mat-form-field appearance="fill">
        <mat-label>GST No.</mat-label>
        <input  matInput placeholder="GST No.">
      </mat-form-field>
    </div>

    <mat-form-field appearance="fill">
      <mat-label>Whatsapp Number</mat-label>
      <input type="number" formControlName="Whatsapp" matInput placeholder="Whatsapp Number" onkeypress="return this.value.length < 10;"
        oninput="if(this.value.length>=10) { this.value = this.value.slice(0,10); }">
    </mat-form-field><br>

    <div class="example-container">
      <mat-form-field appearance="fill">
        <mat-label>Email Id</mat-label>
        <input formControlName="Email_Id" matInput placeholder="Email Id">
      </mat-form-field>
    </div>

    <mat-form-field appearance="fill">
      <mat-label>State</mat-label>
      <mat-select>
        <mat-option value="one">Jharkhand</mat-option>
        <mat-option value="two">Mumbai</mat-option>
        <mat-option value="three">Bihar</mat-option>
        <mat-option value="four">Tamilnadu</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>District</mat-label>
      <mat-select>
        <mat-option value="one">Vaishali</mat-option>
        <mat-option value="two">Chapra</mat-option>
        <mat-option value="three">Sonepur</mat-option>
        <mat-option value="four">Darbhanga</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="add_form" appearance="fill">
      <mat-label>Address</mat-label>
      <input formControlName="Address" matInput placeholder="Address">
    </mat-form-field>
  </div>
</form>

<span class="btn_box">
  <button class="reset_btn" mat-raised-button color="warn" type="reset"(click)="Shop_Form_reset()">Reset</button>
  <button class="save_btn" mat-raised-button color="primary" type="save" (click)="onsubmit()">Save</button>
</span>