::ng-deep .mat-dialog-container {
    width: 700px;
    background-color: rgb(244, 246, 247);
}

.add_head {
    display: flex;
    height: 30px;
    width: 100%;
    margin-bottom: 15px;
    justify-content: space-between;
}

.add_head span {
    line-height: 30px;
    font-size: 18px;
    font-weight: 600;
    color: #3B4259;
}

#close_btn {
    width: 30px;
    height: 30px;
}

#close_btn mat-icon {
    position: relative;
    bottom: 6px;
    color: #3B4259;
}

.mat-form-field {
    width: 32.4%;
    float: left;
    height: auto;
    margin-left: 4px;
    justify-items: center;
}

.column_1 mat-form-field {
    width: 100%;
    margin-top: 0px;
}

textarea {
    height: 17px;
}


mat-form-field mat-icon {
    color: rgb(244, 246, 247);
}

::placeholder {
    color: rgb(49, 49, 49);
}

.mat-input-element {
    color: black;
}

#inst_img {
    width: 30%;
    height: 31px;
    margin-left: 4px;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px 4px 0px 0px;
    margin-top: 0px;
    line-height: 26px;
    margin-bottom: 19px;
    background: #eaeced;
    border-bottom: 1px solid grey;
}

#inst_img:hover {
    border-bottom: 2px solid rgb(20, 20, 23);

}

.margin_top {
    margin-top: 21px;
}

.btn_box {
    width: 100%;
    display: flex;
    justify-content: center;
}

.add_btn {
    margin-top: 28px;
    width: 8%;
}

.reset_btn {
    margin-right: 14px;
    margin-top: 28px;
    width: 10%;
}

.save_btn {
    margin-right: 18px;
    margin-top: 28px;
    width: 10%;
}
.add_form{
    width: 100%;
}

/* ------------------------Media Query---------------------------- */

@media(min-width: 350px) and (max-width: 420px) {
    .mat-form-field {
        width: 96%;
    }
    #inst_img {
        width: 88%
    }
}

@media(min-width: 421px) and (max-width: 520px) {
    .mat-form-field {
        width: 48%;
    }
    #inst_img {
        width: 42%
    }
}
@media(min-width: 521px) and (max-width: 620px){
    .mat-form-field {
        width: 48%;
    }
    #inst_img {
        width: 43.1%
    } 
}

@media(min-width: 621px) and (max-width: 721px){
    #inst_img {
        width: 27.9%
    }
   }

   @media(min-width: 721px) and (max-width: 920px){
    #inst_img {
        width: 28.9%
    }
   }