<div class="add_head">
    <span>Add Customer</span>
    <button mat-mini-fab color="#3B4259" id="close_btn" mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</div>

<form [formGroup]="Customer_Form">
<div mat-dialog-content>
        <div class="example-container">
            <mat-form-field appearance="fill">
                <mat-label>Customer Name</mat-label>
                <input formControlName="Customer_name" matInput placeholder="CustomerName">
            </mat-form-field>
        </div>

        <div class="example-container">
            <mat-form-field appearance="fill">
                <mat-label>Email Id.</mat-label>
                <input formControlName="Email_Id" matInput placeholder="Email Id">     
            </mat-form-field>
        </div>

        <mat-form-field appearance="fill">
            <mat-label>State</mat-label>
            <mat-select disableRipple formControlName="State">
                <mat-option value="1">Bihar</mat-option>
                <mat-option value="2">Jharkhand</mat-option>
                <mat-option value="3">Tamilnadu</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Distric</mat-label>
            <mat-select disableRipple formControlName="Active Status">
                <mat-option value="1">Sonepur</mat-option>
                <mat-option value="2">Chapra</mat-option>
                <mat-option value="3">Vaishali</mat-option>
            </mat-select>
        </mat-form-field>

        <div class="desc">
            <mat-form-field appearance="fill">
                <mat-label>Address</mat-label>
                <input formControlName="Address" matInput placeholder="Address">
            </mat-form-field>
        </div>
   
    
    <div class="add_box">
        <mat-form-field appearance="fill">
            <mat-label>Whatsapp Number</mat-label>
            <input  type="number" matInput type="number" formControlName="Whatsapp_No" placeholder="Whatsapp Number" onkeypress="return this.value.length < 10;"
                oninput="if(this.value.length>=10) { this.value = this.value.slice(0,10); }">
        </mat-form-field>

        <div class="example-container">
            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input placeholder="Password" matInput [type]="hide ? 'password' : 'text'">
                <button  mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon style="color: black">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>

         

            <mat-form-field appearance="fill">
                <mat-label>Description</mat-label>
                <textarea formControlName="Description" matInput placeholder="Description" matInput></textarea> 
            </mat-form-field>
        </div>
    </div>

    <span class="btn_box">
        <button class="reset_btn" mat-raised-button color="warn" type="reset"(click)="Category_Form_reset()">Reset</button>
        <button class="save_btn" mat-raised-button color="primary" type="save">Save</button>
    </span>