<mat-sidenav-container class="wrapper">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened">
        <app-cust-sidebar></app-cust-sidebar>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content">
            <div class="toolbar">
                <mat-toolbar>
                    <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
                    <div class="user">
                        <h3>Login:As Saddam Husain</h3>
                        <mat-icon class="user-icon">account_circle</mat-icon>
                        <mat-menu #menu="matMenu" class="myMenu">
                        </mat-menu>
                    </div>
                </mat-toolbar>
            </div>
            <div class="main">
                <app-viewport></app-viewport>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>