<div class="add_head">
    <span>Add Discount</span>
    <button mat-mini-fab color="#3B4259" id="close_btn" mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</div>

<form [formGroup]="Discount_Form">
    <div mat-dialog-content>
        <div class="examplcontainere">
          <mat-form-field appearance="fill">
            <mat-label>Discount (%)</mat-label>
           <input formControlName="Discount" matInput placeholder="Discount">
          </mat-form-field>
        </div>

    <div class="column_1">
        <mat-form-field appearance="fill">
          <mat-label>Description</mat-label>
          <textarea formControlName="Description" matInput placeholder="Description"></textarea>
        </mat-form-field>
      </div>
      </div>
      </form>
<span class="btn_box">
    <button class="reset_btn" mat-raised-button color="warn" type="reset">Reset</button>
    <button class="save_btn" mat-raised-button color="primary" type="save">Save</button>
</span>