<div class="add_head">
    <span>Add Unit</span>
    <button mat-mini-fab color="#3B4259" id="close_btn" mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</div>

<form [formGroup]="Unit_Form">
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input formControlName="Name" matInput placeholder="Name">
    </mat-form-field>

   
        <div class="column_1">
            <mat-form-field appearance="fill">
              <mat-label>Description</mat-label>
              <textarea formControlName="Description" matInput placeholder="Description"></textarea>
            </mat-form-field>
          </div>
    
    </form>
<span class="btn_box">
    <button class="reset_btn" mat-raised-button color="warn" type="reset" (click)="unit_form()">Reset</button>
    <button class="save_btn" mat-raised-button color="primary" type="save">Save</button>
    </span>