<div class="sidebar">
    <div class="top_head">
        <span class="title_text">Ali &nbsp; Enterprises</span>
    </div>
    <div class="menu">
        <div [ngClass]="'menu_item'">

            <button mat-button class="menu-button" [routerLink]="['dashboard']">
                <mat-icon>dashboard</mat-icon>
                <span>Dashboard</span>
            </button>

            <button mat-button class="menu-button" (click)="Master_dropdown()">
                <mat-icon>list_alt</mat-icon>
                <span>Master Entry</span>
                <mat-icon [hidden]="action_icon1">chevron_right</mat-icon>
                <mat-icon [hidden]="action_icon2">expand_more</mat-icon>
            </button>

            <div id="dropdown_report">
                <button mat-button class="menu-button" [routerLink]="['party']">
                    <mat-icon>account_circle</mat-icon>
                    <span>Party</span>
                </button>

                <button mat-button class="menu-button" [routerLink]="['unit']">
                    <mat-icon>ac_unit</mat-icon>
                    <span>Unit</span>
                </button>

                <button mat-button class="menu-button" [routerLink]="['weight']">
                    <mat-icon>line_weight</mat-icon>
                    <span>Weight</span>
                </button>

                <button mat-button class="menu-button" [routerLink]="['weight']">
                    <mat-icon>ac_unit</mat-icon>
                    <span>Size</span>
                </button>

                <button mat-button class="menu-button" [routerLink]="['discount']">
                    <mat-icon> attach_money</mat-icon>
                    <span>Discount</span>
                </button>

                <!-- <button mat-button class="menu-button" [routerLink]="['expence-type']">
                    <mat-icon>casino</mat-icon>
                    <span>Expence Type</span>
                </button> -->

                <button mat-button class="menu-button" [routerLink]="['gst']">
                    <mat-icon>money_off</mat-icon>
                    <span>GST</span>
                </button>

                <button mat-button class="menu-button" [routerLink]="['category']">
                    <mat-icon>child_friendly</mat-icon>
                    <span>Category</span>
                </button>

                <button mat-button class="menu-button" [routerLink]="['product']">
                    <mat-icon>shopping_basket</mat-icon>
                    <span>Product</span>
                </button>

                <button mat-button class="menu-button" [routerLink]="['shop']">
                    <mat-icon>business</mat-icon>
                    <span>Shop</span>
                </button>

                <button mat-button class="menu-button" [routerLink]="['employe']">
                    <mat-icon>account_circle</mat-icon>
                    <span>Employee</span>
                </button>

                <!-- <button mat-button class="menu-button" [routerLink]="['customer']">
                    <mat-icon>library_books</mat-icon>
                    <span>Customer</span>
                </button> -->
            </div>

            <button mat-button class="menu-button" [routerLink]="['purchase']">
                <mat-icon>child_friendly</mat-icon>
                <span>Purchase</span>
            </button>


            <button mat-button class="menu-button">
                <mat-icon>opacity</mat-icon>
                <span>Stock</span>
            </button>

            <button mat-button class="menu-button" [routerLink]="['sale']">
                <mat-icon>shopping_cart</mat-icon>
                <span>Sale</span>
            </button>

        </div>


        <button mat-button class="menu-button" (click)="Account_dropdown()">
            <mat-icon>account_balance</mat-icon>
            <span>Account</span>
            <mat-icon [hidden]="action_icon3">chevron_right</mat-icon>
            <mat-icon [hidden]="action_icon4">expand_more</mat-icon>
        </button>

        <div id="dropdowns_report">
            <button mat-button class="menu-button" [routerLink]="['ledger']">
                <mat-icon>account_circle</mat-icon>
                <span>Ledger</span>
            </button>

            <button mat-button class="menu-button" [routerLink]="['profit']">
                <mat-icon>spa</mat-icon>
                <span>Profit & Loss</span>
            </button>

            <button mat-button class="menu-button" [routerLink]="['expence']">
                <mat-icon>explore</mat-icon>
                <span>Expence</span>
            </button>

            <!-- <button mat-button class="menu-button" [routerLink]="['loss']">
                <mat-icon>store</mat-icon>
                <span>Loss</span>
            </button> -->
        </div>
    </div>

    <!-- <button mat-button class="menu-button" [routerLink]="['profit']">
        <mat-icon> map</mat-icon>
        <span>Profit</span>
    </button> -->

</div>