<div class="sidebar">
    <div class="top_head">
        <span class="title_text">Admin</span>
    </div>
    <div class="menu">
        <div [ngClass]="'menu_item'">

            <button mat-button class="menu-button" [routerLink]="['dashboard']">
                <mat-icon>dashboard</mat-icon>
                <span>Dashboard</span>
            </button>

            <button mat-button class="menu-button" (click)="setting_dropdown()" [routerLink]="['/#']">
                <mat-icon>account_circle</mat-icon>
                <span>Master Entry</span>
                <mat-icon [hidden]="action_icon4">expand_more</mat-icon>
            </button>

            <div id="dropdown_setting">
                <button mat-button class="menu-button" [routerLink]="['/#']">
                </button>

                <button mat-button class="menu-button" [routerLink]="['shop']">
                    <mat-icon>business</mat-icon>
                    <span>Shop</span>
                </button>

                <button mat-button class="menu-button" [routerLink]="['party']">
                    <mat-icon>account_circle</mat-icon>
                    <span>Party</span>
                </button>

                <button mat-button class="menu-button" [routerLink]="['category']">
                    <mat-icon>child_friendly</mat-icon>
                    <span>Category</span>
                </button>

                <button mat-button class="menu-button" [routerLink]="['unit']">
                    <mat-icon>ac_unit</mat-icon>
                    <span>Unit</span>
                </button>

                <button mat-button class="menu-button" [routerLink]="['weight']">
                    <mat-icon>line_weight</mat-icon>
                    <span>Weight</span>
                </button>

                <button mat-button class="menu-button" [routerLink]="['discount']">
                    <mat-icon> attach_money</mat-icon>
                    <span>Discount</span>
                </button>

                <button mat-button class="menu-button" [routerLink]="['customer']">
                    <mat-icon>library_books</mat-icon>
                    <span>Customer</span>
                </button>

                <button mat-button class="menu-button" [routerLink]="['product']">
                    <mat-icon>shopping_basket</mat-icon>
                    <span>Product</span>
                </button>

                <button mat-button class="menu-button" [routerLink]="['gst']">
                    <mat-icon>money_off</mat-icon>
                    <span>Gst</span>
                </button>

                <button mat-button class="menu-button" [routerLink]="['item']">
                    <mat-icon>payment</mat-icon>
                    <span>Item</span>
                </button>

                <button mat-button class="menu-button" [routerLink]="['sale']">
                    <mat-icon>shopping_cart</mat-icon>
                    <span>Sale</span>
                </button>

                <button mat-button class="menu-button" [routerLink]="['employe']">
                    <mat-icon>account_circle</mat-icon>
                    <span>Employe</span>
                </button>

                <button mat-button class="menu-button" [routerLink]="['expence-type']">
                    <mat-icon>casino</mat-icon>
                    <span>Expence Type</span>
                </button>
            </div>
        </div>

        <button mat-button class="menu-button" [routerLink]="['expence']">
            <mat-icon>explore</mat-icon>
            <span>Expence</span>
        </button>

        <button mat-button class="menu-button">
            <mat-icon>description</mat-icon>
            <span>Term & Condition</span>
        </button>
    </div>