.top_head {
    width: 100%;
    height: 59px;
    z-index: 2;
    background-color: #3b4259;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
    position: sticky;
    top: 0px;
}

.title_text {
    color: whitesmoke;
    font-size: 20px;
    position: relative;
    top: 20px;
    margin-left: 55px;
}

.menu-button {
    width: 100%;
    font-size: 16px;
    color: whitesmoke;
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-bottom: 0.2px solid #525458;
    transition: 0.5s;
}

 .menu-button:hover {
    padding-left: 25px;
}

 .menu-button span {
    margin-left: 5px;
} 
.menu-button:hover{
    background-color: #25189b;
}
 .menu-button:focus{
    background-color: #25189b;
}

#dropdown_setting {
    display: none;
}

#dropdown_setting button{
    margin-left: 19px;
}

#dropdowns_report {
    display: none ;
   margin-left: 10px;
  
}
#dropdown_report{
margin-left: 10px;
}

