<mat-sidenav-container class="wrapper">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened">
        <app-admin-sidebar></app-admin-sidebar>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content">
            <div class="toolbar">
                <mat-toolbar>
                    <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
                    <div class="user">
                        <span>Login as &nbsp;: &nbsp; Saddam Husain</span>
                        <button mat-button [matMenuTriggerFor]="menu" class="icon"><img src="assets/login.png"></button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item class="action_btn" [routerLink]="['/homepage']"
                                style="color: whitesmoke;">Update Profile</button>

                            <button mat-menu-item class="action_btn" [routerLink]="['/homepage']"
                                style="color: whitesmoke;">LogOut</button>

                        </mat-menu>
                    </div>
                </mat-toolbar>
            </div>

            <div class="main">
                <app-viewport></app-viewport>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>