<mat-sidenav-container class="wrapper">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened">
        <app-admin-sidebar></app-admin-sidebar>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content">
            <div class="toolbar">
                <mat-toolbar>
                    <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
                    <div class="user">
                        <h3>Login as: Saddam Husain</h3>
                        <button class="login_head" mat-button [matMenuTriggerFor]="menu"><mat-icon>account_circle</mat-icon></button>
                        <mat-menu #menu="matMenu" >
                          <button mat-menu-item class="action_btn" [routerLink]="['/homepage']" style="color: whitesmoke;">Log Out</button>
                        </mat-menu>                     
                    </div>
                </mat-toolbar>
            </div>

            <div class="main">
                <app-viewport></app-viewport>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>