::ng-deep .mat-dialog-container {
    width: 680px;
    background-color: rgb(244, 246, 247);
}

mat-dialog-content{
    display: flex;
    justify-content: center;
}

.add_head {
    display: flex;
    height: 30px;
    width: 100%;
    margin-bottom: 15px;
    justify-content: space-between;
}

.add_head span {
    line-height: 30px;
    font-size: 18px;
    font-weight: 600;
    color: #3B4259;
}

#close_btn {
    width: 30px;
    height: 30px;
}

#close_btn mat-icon {
    position: relative;
    bottom: 6px;
    color: #3B4259;
}

.add_box {
    width: calc(100% - 67.7%);
    margin-left: 3px;
    height: auto;
    float: left;
}

.mat-form-field {
    width: 100%;
}
.desc{
    width: 425px;
}


mat-form-field mat-icon {
    color: rgb(244, 246, 247);
}

::placeholder {
    color: rgb(49, 49, 49);
}

.mat-input-element {
    color: black;
}

#inst_img {
    width: 90%;
    padding: 10px;
    cursor: pointer;
    height: 31px;
    border-radius: 4px 4px 0px 0px;
    margin-top: 0px;
    line-height: 26px;
    margin-bottom: 19px;
    background: #eaeced;
    border-bottom: 1px solid grey;
}

#inst_img:hover {
    border-bottom: 2px solid rgb(20, 20, 23);

}

.btn_box {
    width: 100%;
    display: flex;
    justify-content: center;
}

.add_btn {
    margin-top: 28px;
    width: 8%;
}

.reset_btn {
    margin-right: 14px;
    margin-top: 28px;
    width: 10%;
}
.save_btn{
    margin-right: 18px;
    margin-top: 28px;
    width: 10%;
}
textarea{
    height: 85px;
}


