<div class="head">
    <span>Discount</span>
    <mat-icon (click)="add_shop()" >add_circle</mat-icon> 
  </div>
  <div class="count_area">
    <span class="notice_text">Total : 10</span>
    <div class="search">
      <input type="text" placeholder="Search"  matInput (keyup)="($event)" #input> 
    </div>
  </div>
  
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
  
      <ng-container matColumnDef="dis_SL_No">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>SL.No</th>
        <td mat-cell *matCellDef="let row"> {{row.dis_SL_No}}</td>
      </ng-container>
  
      <ng-container matColumnDef="shop_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Shop Name</th>
        <td mat-cell *matCellDef="let row"> {{row.shop_name}}</td>
      </ng-container>
  
      <ng-container matColumnDef="cat_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Category Name</th>
        <td mat-cell *matCellDef="let row"> {{row.cat_name}} </td>
      </ng-container>

       <ng-container matColumnDef="item">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Item</th>
        <td mat-cell *matCellDef="let row"> {{row.item}} </td>
      </ng-container>

      <ng-container matColumnDef="offer">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Offer(%)</th>
        <td mat-cell *matCellDef="let row"> {{row.offer}} </td>
      </ng-container>
  
      <ng-container matColumnDef="offer_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Offer Name</th>
        <td mat-cell *matCellDef="let row"> {{row.offer_name}} </td>
      </ng-container>
      
      <ng-container matColumnDef="vailid_date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Vailid Date</th>
        <td mat-cell *matCellDef="let row"> {{row.vailid_date}} </td>
      </ng-container> 

      <ng-container matColumnDef="offer_condition">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Offer Condition</th>
        <td mat-cell *matCellDef="let row"> {{row.offer_condition}} </td>
      </ng-container> 

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
        <td mat-cell *matCellDef="let row"> {{row.action}} </td>
      </ng-container> 

      <tr mat-header-row *matHeaderRowDef="displayedColumns" id="tbl_hight"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" id="tbl_hight"></tr>
  
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="9" style="color:silver;">No record found"{{input.value}}"</td> 
      </tr>
    </table>
  
    <mat-paginator #paginatorRef [pageSizeOptions]="[10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>