<div class="head">
  <span>Unit</span>
  <mat-icon (click)="add_shop()">add_circle</mat-icon>
</div>
<div class="count_area">
  <span class="notice_text">Total : 10</span>
  <div class="search">
    <input type="text" placeholder="Search" matInput (keyup)="($event)" #input>
  </div>
</div>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="category_id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> S.N. </th>
      <td mat-cell *matCellDef="let row; let i = index">{{(paginatorRef.pageIndex * paginatorRef.pageSize)+(i+1)}}</td>
    </ng-container>

    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let row"> {{row.Name}}</td>
    </ng-container>

    <ng-container matColumnDef="unit_des">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
      <td mat-cell *matCellDef="let row"> {{row.unit_des}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
      <td mat-cell *matCellDef="let row"><mat-icon class="icon"(click)="edit_unit()">visibility</mat-icon><mat-icon class="icon"(click)="edit_unit()" >edit</mat-icon> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns" id="tbl_hight"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" id="tbl_hight"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="9" style="color:silver;">No record found"{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator #paginatorRef [pageSizeOptions]="[10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>