<div class="head">
  <span>Shop</span>
  <mat-icon (click)="add_shop()">add_circle</mat-icon>
</div>
<div class="count_area">
  <span class="notice_text">Total : {{totolcount}}
  </span>
  <div class="search">
    <input type="text" placeholder="Search" matInput (keyup)="($event)" #input>
  </div>
</div>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="shop_id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> S.N. </th>
      <td mat-cell *matCellDef="let row; let i = index">{{(paginatorRef.pageIndex * paginatorRef.pageSize)+(i+1)}}</td>
    </ng-container>

    <ng-container matColumnDef="shop_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Shop Name</th>
      <td mat-cell *matCellDef="let row"> {{row.Shop_Name}} </td>
    </ng-container>

    <ng-container matColumnDef="shop_owner">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Owner Name</th>
      <td mat-cell *matCellDef="let row"> {{row.Owner_name}} </td>
    </ng-container>

    <ng-container matColumnDef="gst_no">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>GST No.</th>
      <td mat-cell *matCellDef="let row"> {{row.gst_no}} </td>
    </ng-container>

    <ng-container matColumnDef="Whatsup_no">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Whatsup No.</th>
      <td mat-cell *matCellDef="let row"> {{row.Whatsup_no}} </td>
    </ng-container>

    <ng-container matColumnDef="email_id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email Id</th>
      <td mat-cell *matCellDef="let row"> {{row.email_id}} </td>
    </ng-container>

    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>State</th>
      <td mat-cell *matCellDef="let row"> {{row.state}} </td>
    </ng-container>

    <ng-container matColumnDef="Address">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
      <td mat-cell *matCellDef="let row"> {{row.Address}} </td>
    </ng-container>

<!-- 
    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>District<th>
      <td mat-cell *matCellDef="let row"> {{row.District}} </td>
    </ng-container> -->

    <!-- <ng-container matColumnDef="shop_add">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
      <td mat-cell *matCellDef="let row"> {{row.shop_add}} </td>
    </ng-container> -->

    <ng-container matColumnDef="Action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
      <td mat-cell *matCellDef="let row"><mat-icon class="icon" (click)="edit_shop()">visibility</mat-icon><mat-icon class="icon"(click)="edit_shop()">edit</mat-icon> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns" id="tbl_hight"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" id="tbl_hight"></tr>

    <tr class="mat-row" *matNoDataRow>
    </tr>
  </table>

  <mat-paginator #paginatorRef [pageSizeOptions]="[10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>