<div class="add_head">
  <span>Add Party</span>
  <button mat-mini-fab color="#3B4259" id="close_btn" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>

<form [formGroup]="Party_Form">
<div mat-dialog-content>
    <div class="example-container">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
       <input formControlName="Name" matInput placeholder="Name">
      </mat-form-field>
    </div>
    
    <div class="example-container">
      <mat-form-field appearance="fill">
        <mat-label>Contact Persion</mat-label>
        <input formControlName="Contact_persion" matInput placeholder="Name">
      </mat-form-field>
    </div>

    <mat-form-field appearance="fill">
      <mat-label>Whatsapp Number</mat-label>
      <input matInput type="number" onkeypress="return this.value.length < 10;"
        oninput="if(this.value.length>=10) { this.value = this.value.slice(0,10); }">
    </mat-form-field><br>
      
    <mat-form-field appearance="fill">
      <mat-label>Mobile Number</mat-label>
      <input matInput type="number" onkeypress="return this.value.length < 10;"
        oninput="if(this.value.length>=10) { this.value = this.value.slice(0,10); }">
    </mat-form-field>

    <div class="example-container">
      <mat-form-field appearance="fill">
        <mat-label>Email Id</mat-label>
        <input matInput placeholder="Email Id">
      </mat-form-field>
    </div>

    <div class="example-container">
      <mat-form-field appearance="fill">
        <mat-label>A/C Holder Name</mat-label>
        <input formControlName="A/C Holder Name" matInput placeholder="A/C Holder Name">
      </mat-form-field>
    </div>

    <mat-form-field appearance="fill">
      <mat-label>Account Number</mat-label>
      <input matInput type="number" onkeypress="return this.value.length < 16;"
        oninput="if(this.value.length>=16) { this.value = this.value.slice(0,16); }">
    </mat-form-field><br>

    <div class="example-container">
      <mat-form-field appearance="fill">
        <mat-label>IFSC</mat-label>
        <input matInput placeholder="IFSC">
      </mat-form-field>
    </div>

    <div class="example-container">
      <mat-form-field appearance="fill">
        <mat-label>GST No.</mat-label>
        <input matInput placeholder="GST No">
      </mat-form-field>
    </div> 

    <mat-form-field class="add_form" appearance="fill">
      <mat-label>Address</mat-label>
      <input formControlName="Address" matInput placeholder="Address">
    </mat-form-field>
  </div>
</form>

<span class="btn_box">
  <button class="reset_btn" mat-raised-button color="warn" type="reset">Reset</button>
  <button class="save_btn" mat-raised-button color="primary" type="save">Save</button>
</span>