 <div class="add_head">
    <span>Add Weight</span>
    <button mat-mini-fab color="#3B4259" id="close_btn" mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</div> 

<form [formGroup]="Weight_Form">
    <div mat-dialog-content>
        <div class="examplcontainere">
          <mat-form-field appearance="fill">
            <mat-label>Weight (Kg)</mat-label>
           <input formControlName="weight" matInput placeholder="Weight">
          </mat-form-field>
        </div>

    <div class="column_1">
        <mat-form-field appearance="fill">
          <mat-label>Description</mat-label>
          <textarea formControlName="description" matInput placeholder="Description"></textarea>
        </mat-form-field>
      </div>
      </div>
      <input formControlName="admin_id_fk" type="number" hidden>
      </form>

<span class="btn_box">
    <button class="reset_btn" mat-raised-button color="warn" type="reset" (click)="weight_data_reset()">Reset</button>
    <button class="save_btn" mat-raised-button color="primary" type="save"(click)="onsubmit()"[disabled]="!Weight_Form.valid">Save</button>
    </span>