<div class="main_area">


    <a [routerLink]="['../party']">
    <div id="box" class="color2">
        <mat-icon>account_circle</mat-icon><br>
        <span><b>2</b></span><br><br>
        <span>Party</span>
    </div>
</a>

    <div id="box" class="color3" [routerLink]="['../unit']">
        <mat-icon>ac_unit</mat-icon><br>
        <span><b>3</b></span><br><br>
        <span>Unit</span>
    </div>

    <div id="box" class="color4"  [routerLink]="['../weight']">
        <mat-icon>line_weight</mat-icon><br>
        <span><b>4</b></span><br><br>
        <span>Weight</span>
    </div>

    <div id="box" class="color5" [routerLink]="['../discount']">
        <mat-icon> attach_money</mat-icon><br>
        <span><b>5</b></span><br><br>
        <span>Discount</span>
    </div>

    <div id="box" class="color7" [routerLink]="['../gst']">
        <mat-icon>money_off</mat-icon><br>
        <span><b>6</b></span><br><br>
        <span>Gst</span>
    </div>

    <div id="box" class="color8" [routerLink]="['../category']">
        <mat-icon>child_friendly</mat-icon><br>
        <span><b>7</b></span><br><br>
        <span>Category</span>
    </div>

    <div id="box" class="color9" [routerLink]="['../shop']">
        <mat-icon>business</mat-icon><br>
        <span><b>8</b></span><br><br>
        <span>Shop</span>
    </div>

    <div id="box" class="color9"  [routerLink]="['../product']">
        <mat-icon>shopping_basket</mat-icon><br>
        <span><b>9</b></span><br><br>
        <span>Product</span>
    </div>

    <div id="box" class="color9"  [routerLink]="['../Customer']">
        <mat-icon>account_circle</mat-icon><br>
        <span><b>10</b></span><br><br>
        <span>Customer</span>
    </div>

    <div id="box" class="color9"  [routerLink]="['../employe']">
        <mat-icon>library_books</mat-icon><br>
        <span><b>11</b></span><br><br>
        <span>Employe</span>
    </div>

    <div id="box" class="color9"  [routerLink]="['../sale']">
        <mat-icon>shopping_cart</mat-icon><br>
        <span><b>12</b></span><br><br>
        <span>Sale</span>
    </div>

    <div id="box" class="color9"  [routerLink]="['../purchase']">
        <mat-icon>child_friendly</mat-icon><br>
        <span><b>13</b></span><br><br>
        <span>Purchase</span>
    </div>

    <div id="box" class="color9"  [routerLink]="['../account']">
        <mat-icon> local_post_office</mat-icon><br>
        <span><b>14</b></span><br><br>
        <span>Account</span>
    </div>

    <div id="box" class="color9" [routerLink]="['../expence-type']">
        <mat-icon>casino</mat-icon><br>
        <span><b>15</b></span><br><br>
        <span>Expence Type</span>
    </div>       

</div>