<div class="main_area">
    
    <div id="box">
        <mat-icon>dashboard</mat-icon><br>
        <span><b>1</b></span><br><br>
        <span>Dashboard</span>
    </div>

    <div id="box" class="color2">
        <mat-icon>shopping_basket</mat-icon><br>
        <span><b>2</b></span><br><br>
        <span>Admin</span>
    </div>

    <div id="box" class="color3">
        <mat-icon>assignment</mat-icon><br>
        <span><b>3</b></span><br><br>
        <span>Shop</span>
    </div>

    <div id="box" class="color4">
        <mat-icon>shopping_cart</mat-icon><br>
        <span><b>4</b></span><br><br>
        <span>Shop</span>
    </div>

    <div id="box" class="color5">
        <mat-icon> chat</mat-icon><br>
        <span><b>5</b></span><br><br>
        <span>Viewport</span>
    </div>

    <div id="box" class="color7">
        <mat-icon>payment</mat-icon><br>
        <span><b>6</b></span><br><br>
        <span>Payment</span>
    </div>

    <div id="box" class="color8">
        <mat-icon>receipt</mat-icon><br>
        <span><b>7</b></span><br><br>
        <span>Dues</span>
    </div>

    <div id="box" class="color9">
        <mat-icon>settings</mat-icon><br>
        <span><b>8</b></span><br><br>
        <span>Settings</span>
    </div>

</div>