::ng-deep .mat-dialog-container {
    width: 300px;
    background-color: rgb(244, 246, 247);
}

.add_head {
    display: flex;
    height: 30px;
    width: 100%;
    margin-bottom: 15px;
    justify-content: space-between;
}

.add_head span {
    line-height: 30px;
    font-size: 18px;
    font-weight: 600;
    color: #3B4259;
}

#close_btn {
    width: 30px;
    height: 30px;
}

#close_btn mat-icon {
    position: relative;
    bottom: 6px;
    color: #3B4259;
}

.column_1 mat-form-field{
    width: 100%;
    margin-top: 0px;
  }
  textarea {
    height: 17px;      
  } 
 
  mat-form-field{
    width: 100%;
  }

.btn_box {
    width: 100%;
    display: flex;
    justify-content: center;
}

.add_btn {
    margin-top: 28px;
    width: 8%;
}

.reset_btn {
    margin-right: 14px;
    margin-top: 20px;
    width: 10%;
    margin-left: 26px;
}
.save_btn{
    margin-right: 18px;
    margin-top: 20px;
    width: 10%;
}

/* ---------------media Query----------------- */
@media(min-width: 350px) and (max-width: 767px){
    ::ng-deep .mat-dialog-container{
        overflow: auto;
    }
}