<div class="add_head">
    <span>Add Category</span>
    <button mat-mini-fab color="#3B4259" id="close_btn" mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</div>


<form></form>

<div class="add_box">
    <div class="example-container">
        <mat-form-field appearance="fill">
            <mat-label>Category name</mat-label>
            <input matInput placeholder="Category name" [formControl]="email" required>
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
    </div>
</div>
<div class="add_box">
    <label for="inst_img">
        <input type="file" id="inst_img" formControlName="category_photo">
    </label>
</div>
<div class="add_box">
    <div class="desc">
        <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <input matInput placeholder="Description">
            <textarea matInput></textarea>
        </mat-form-field>
    </div>
</div>
<span class="btn_box">
    <button class="reset_btn" mat-raised-button color="warn" type="reset">Reset</button>
    <button class="save_btn" mat-raised-button color="primary" type="save">Save</button>
    </span>