/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    cursor: default;
}

::-webkit-scrollbar {
  width: 4px;
  height: 5px;
  color: red;
}

.mat-menu-content:not(:empty) {
    background-color: #1d1f23;
    width: 150px;
}

.mat-menu-panel {
    margin-top: 15px;
}

.head {
    height: 40px;
    width: 100%;
    background-color: #2f3547;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
}


.count_area {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    color: #1d1f23;
  
}

.search_box {
    border: none;
    border-bottom: 1px solid #1d1f23;
    outline: none;
    padding: 4px;
    background-color: whitesmoke;
    position: relative;
    top: -2px;
    margin-left: -2px;
}

table {
    width: 100%;
}

th.mat-header-cell {
    color: aliceblue;
    background-color: #2f3547;
}


tr:nth-child(even) {
    background-color: rgb(200, 200, 200);
    height: 40px;
}

tr:nth-child(odd) {
    height: 40px;
}

tr:hover {
    background-color: #2f3547;
   
}

 .mat-row:hover>.mat-cell  {
    color: rgb(245, 238, 238)
}
#tbl_hight {
    height: 40px;
}



/* --------------------------------Media Query--------------------------- */
@media(min-width:420px) and (max-width:1080px) {
    .mat-elevation-z8 {
        overflow-x: auto;
    }

    .course_text {
        font-size: 14px;
    }

    .count_area .notice_text {
        font-size: 14px;
    }

    table td {
        font-size: 14px;
    }

    mat-paginator {
        position: absolute;
        width: 100%;
    }
}

@media (max-width:420px) {
    .mat-elevation-z8 {
        overflow-x: auto;
    }

    .course_text {
        font-size: 10px;
    }

    .count_area .notice_text {
        font-size: 10px;
    }

    mat-paginator {
        position: absolute;
        width: 100%;
    }
}


