/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    cursor: default;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: #525458;
}

.mat-menu-content:not(:empty) {
    background-color: #1d1f23;
    width: 150px;
}

.mat-menu-panel {
    margin-top: 15px;
}

/* for table  */
.head {
    height: 40px;
    width: 100%;
    background-color: #1d1f23;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
}


#add_course {
    cursor: pointer;
    font-size: 22px;
}

.count_area {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    color: #1d1f23;
}

.search_box {
    border: none;
    border-bottom: 1px solid #1d1f23;
    outline: none;
    padding: 5px;
    background-color: whitesmoke;
    position: relative;
    top: -2px;
}

table {
    width: 100%;
}

th.mat-header-cell {
    color: aliceblue;
    background-color: #1d1f23;
}


tr:nth-child(even) {
    background-color: rgb(200, 200, 200);
    height: 40px;
}

tr:nth-child(odd) {
    height: 40px;
}

tr:hover {
    background-color: #494949;
    color: aliceblue;
}

.mat-row:hover>.mat-cell {
    color: white
}
#tbl_hight {
    height: 40px;
}

