/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    cursor: default;
}

::-webkit-scrollbar {
    width: 0px;
    height: 5px;

}

.mat-menu-content:not(:empty) {
    background-color: #2f3547ed;
    width: 150px;
}

.mat-menu-panel {
    margin-top: 15px;
}

.head {
    height: 40px;
    width: 100%;
    background-color: #2f3547;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
}

.count_area {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    color: #1d1f23;
}

table {
    width: 100%;
}

th.mat-header-cell {
    color: aliceblue;
    background-color: #2f3547;
}


tr:nth-child(even) {
    background-color: rgb(200, 200, 200);
    height: 40px;
}

tr:nth-child(odd) {
    height: 40px;
}

tr:hover {
    background-color: #2f3547;

}

.mat-row:hover>.mat-cell {
    color: rgb(245, 238, 238)
}

#tbl_hight {
    height: 40px;
}



/* --------------------------------Media Query--------------------------- */
@media(min-width:520px) {
    .mat-elevation-z8 {
        overflow-x: auto;
    } 

    .course_text {
        font-size: 14px;
    }

    .count_area .notice_text {
        font-size: 14px;
    }

    table td {
        font-size: 14px;
    }

    mat-paginator {
        position: absolute;
        width: 100%;
    }

    th.mat-header-cell {
        text-align: left;
        white-space: nowrap;
        padding: 0px 10px;
    }

    td.mat-cell {
        white-space: nowrap;
        padding: 0px 10px;
    }

    th.mat-header-cell,
    td.mat-cell,
    td.mat-footer-cell {
        padding: 5px;
        border-bottom-width: 1px;
        border-bottom-style: solid;
    }
}