<div id="wrapper">
  <div id="header">
    <img src="assets/logo.png">
    <button mat-raised-button [matMenuTriggerFor]="menu">Login</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item class="action_btn" [routerLink]="['/adminlogin']">Admin</button>
      <button mat-menu-item class="action_btn" [routerLink]="['/shoplogin']">Shop</button>
      <button mat-menu-item class="action_btn" [routerLink]="['/customerlogin']">Customer</button>
    </mat-menu>
  </div>
  <div class="main_area">
    <div class="text_area">hhkhk</div>
    <div class="image_area"></div>
  </div>
  <div class="footer"></div>
</div>