#wrapper {
  width: 100%;
  height: 100vh;
  background-color: #232838 ;
}

#header {
  height: 60px;
  width: 100%;
  background-color: #3b4259;
  color: #ffff;
  display: flex;
  justify-content: space-between;
}

#header h1 {
  margin: 14px 15px;
  display: inline-block;
}

.login_head {
  margin: 10px;
  height: 40px;
  background-color: #5a74ad;
}

.action_btn {
  color: #fff;
}

.action_btn:hover {
  background-color: #5a74ad;
}

#main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 105px);
}

#main .welcome_text {
  color: whitesmoke;
  font-size: 3rem;
  word-spacing: 4px;
}

#footer {
  width: 100%;
  height: 45px;
  color: #ffff;
  line-height: 45px;
  display: flex;
  justify-content: space-between;
  background-color: #3b4259;
}

span {
  margin: 0px 10px;
}

@media(min-width:920px)and (max-width:1199px) {}

@media(min-width:768px)and (max-width:860px) { }

@media(min-width:420px)and (max-width:768px) {
  #main .welcome_text {
      font-size: 2.5rem;
  }
}

@media(max-width:420px) {
  #main .welcome_text {
      font-size: 1.5rem;
  }
}