#wrapper {
  width: 100%;
  height: 100vh;
  background-color: #fff;
}

#header {
  height: 80px;
  width: 100%;
  background-color: #fff;
  color: #ffff;
  position: fixed;
  z-index: 500px;
  box-shadow: 1px 1px 15px rgb(26, 26, 26);
}

#header h1 {
  margin: 14px 15px;
  display: inline-block;
}

#header img{
  width: 20%;
  height: 100%;
  margin-top: -21px;
  overflow: hidden;
  margin-left: 150px;
}

#header button{
  margin-left: 50%;
  background-color: #ffffff;
  border-radius: 20px;
  border: 1px solid black;
  margin-top: 27px;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  box-shadow: 1px 1px 1px -2px;
}

#header button:hover{
  background-color: #5a74ad;
  border-radius: 20px;
  transition: .5s;
  color: white;
}

.login_head {
  margin: 10px;
  height: 40px;
  float: left;
  background-color: #5a74ad;
}

.action_btn {
  color: #fff;
}

.action_btn:hover {
  background-color: #5a74ad;
}

.main_area{
  width: 100%;
  margin-top: 10px;
  height: 800px;
  background-color: red;
}
.text_area{
  background-color: yellow;
  width: 50%;
  height: 100%;
}
.footer{
  width: 100%;
  height: 40px;
  background-color: green;
}