.main_area {
    padding-right: 12px;
    padding-top: 0px;
  }
  
  .search{
   border-bottom: 1px solid black;
    height: 30px;
    margin-top: -5px;
  }
  
  mat-icon {
    width: 10px;
    height: 20px;
    font-size: 36px;
    float: left;
    margin-left: 10px;
    margin: 20px;
    font-size: 28px;
    color: whitesmoke;
    margin-top: -4px;
    cursor: pointer;
  }

  td img{
    width: 50px;
    height: 30px;
    margin-top: 1px;
  }
    .icon{
    color: #1d1f23;
    font-size: 25px;
    margin: 12px;
}
  
  tr :hover{ 
    color: white;
    cursor: pointer;

  }
  tr:hover td mat-icon{
    color: antiquewhite;
  }

  
 