<div class="add_head">
    <span>Add Gst</span>
    <button mat-mini-fab color="#3B4259" id="close_btn" mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>

</div><form [formGroup]="Gst_Form">
    <div mat-dialog-content>
        <div class="examplcontainere">
          <mat-form-field appearance="fill">
            <mat-label>Gst</mat-label>
           <input formControlName="Gst" matInput placeholder="Gst">
          </mat-form-field>
        </div>

        <div mat-dialog-content>
            <div class="examplcontainere">
              <mat-form-field appearance="fill">
                <mat-label>Sgst</mat-label>
               <input formControlName="Sgst" matInput placeholder="Sgst">
              </mat-form-field>
            </div>   

<span class="btn_box">
    <button class="reset_btn" mat-raised-button color="warn" type="reset" (click)="gst_form_reset()">Reset</button>
    <button class="save_btn" mat-raised-button color="primary" type="save"(click)="onsubmit()">Save</button>
    </span>