
<div class="add_head">
    <span>Add Product</span>
    <button mat-mini-fab color="#3B4259" id="close_btn" mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  
  <form [formGroup]="Product_Form">
    <mat-form-field appearance="fill">
        <mat-label>Unit</mat-label>
        <mat-select>
            <mat-option value="one">Kg</mat-option>
            <mat-option value="two">Litter</mat-option>
            <mat-option value="three">Inch</mat-option>
            <mat-option value="four">Packet</mat-option>
        </mat-select>
    </mat-form-field>
      
      <div class="example-container">
        <mat-form-field appearance="fill">
          <mat-label>Quantity</mat-label>
          <input formControlName="Quantity" matInput placeholder="Quantity">
        </mat-form-field>
      </div>
  
        <mat-form-field appearance="fill" >
            <mat-label>Address</mat-label>
            <input formControlName="address" matInput placeholder="Address" >
        </mat-form-field>           
  
      <div class="example-container">
        <mat-form-field appearance="fill">
          <mat-label>GST No.</mat-label>
          <input formControlName="Gst_No" matInput placeholder="GST No">
        </mat-form-field>
      </div>
  
      <div class="column_1">
        <mat-form-field appearance="fill">
          <mat-label>Description</mat-label>
          <textarea formControlName="Description" matInput placeholder="Description"></textarea>
        </mat-form-field>
      </div>
  </form>
  
  <span class="btn_box">
    <button class="reset_btn" mat-raised-button color="warn" type="reset"(click)="product_form_rese()">Reset</button>
    <button class="save_btn" mat-raised-button color="primary" type="save"(click)="onsubmit()">Save</button>
  </span>