
<div class="add_head">
    <span>Add Product</span>
    <button mat-mini-fab color="#3B4259" id="close_btn" mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  
  <form [formGroup]="Product_Form">
    <mat-form-field appearance="fill">
      <mat-label>Category</mat-label>
      <mat-select formControlName="category">
          <mat-option value="Kg">Kg</mat-option>
          <mat-option value="Litter">Litter</mat-option>
          <mat-option value="Inch">Inch</mat-option>
          <mat-option value="Packet">Packet</mat-option>
      </mat-select>
  </mat-form-field>

  <div class="example-container">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input formControlName="quantity" matInput placeholder="Name">
    </mat-form-field>
  </div>

  <div class="example-container">
    <mat-form-field appearance="fill">
      <mat-label>HSN Code</mat-label>
      <input formControlName="hsn_code" matInput placeholder="HSN Code">
    </mat-form-field>
  </div>

  <div class="example-container">
    <mat-form-field appearance="fill">
      <mat-label>Weight</mat-label>
      <input formControlName="weight" matInput placeholder="Weight">
    </mat-form-field>
  </div>

    <mat-form-field appearance="fill">
        <mat-label >Unit</mat-label>
        <mat-select formControlName="unit">
            <mat-option value="5unit">5unit</mat-option>
            <mat-option value="6unit">6unit</mat-option>
            <mat-option value="7unit">7unit</mat-option>
            <mat-option value="8unit">8unit</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Size</mat-label>
      <mat-select formControlName="size">
          <mat-option value="Kg">Kg</mat-option>
          <mat-option value="Litter">Litter</mat-option>
          <mat-option value="Inch">Inch</mat-option>
          <mat-option value="Packet">Packet</mat-option>
      </mat-select>
  </mat-form-field>
      
      <div class="example-container">
        <mat-form-field appearance="fill">
          <mat-label>Rate</mat-label>
          <input formControlName="rate" matInput placeholder="Rate">
        </mat-form-field>
      </div>
  
      <div class="column_1">
        <mat-form-field appearance="fill">
          <mat-label>Description</mat-label>
          <textarea formControlName="Description" matInput placeholder="Description"></textarea>
        </mat-form-field>
      </div>
      <input formControlName="admin_id_fk" type="number" hidden>
  </form>
  
  <span class="btn_box">
    <button class="reset_btn" mat-raised-button color="warn" type="reset"(click)="product_form_reset()">Reset</button>
    <button class="save_btn" mat-raised-button color="primary" type="save"(click)="onsubmit()" [disabled]="!Product_Form.valid">Save</button>
  </span>